<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.valo_lineups.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appkacvika1">
        <activity
            android:name="com.example.valo_lineups.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appkacvika1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.valo_lineups.ui.basic.form.FormActivity"
            android:exported="true"
            android:theme="@style/Theme.Appkacvika1" />

        <activity android:name="com.example.valo_lineups.ui.basic.lazyList.LazyListActivity"
            android:exported="true"
            android:theme="@style/Theme.Appkacvika1" />

        <activity android:name="com.example.valo_lineups.ui.basic.dialog.DialogActivity"
            android:exported="true"
            android:theme="@style/Theme.Appkacvika1" />
        <activity android:name="com.example.valo_lineups.ui.async.lineups.LineupsScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Appkacvika1" />
        <activity android:name="com.example.valo_lineups.ui.async.agents.AgentsScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Appkacvika1" />

    </application>

</manifest>